<div class="drawer-carrito">
    <div class="carrito-contenido">
      <div class="carrito-header">
          <h2>Mi carrito</h2>
          <button id="cerrarCarrito" type="button" class="cruz"></button>
      </div>
      <div class="carrito-cuerpo">
  
      </div>
  o
      <div class="carrito-footer" style="display: none;">
          <div class="total-carrito">
              <p>Total de la compra</p>
              <p id="total-carrito-suma">0</p>
          </div>
          
          <div class="carrito-botones" >
              
              <button id="eliminar-carrito" type="button" class="btn-terciario">Eliminar carrito</button>
              <button id="cerrarCarrito" type="button" class="btn-secundario">Cerrar</button>
              <% if (login.pedidos) { %>
                <!-- <input type="text" name="carrito_holder" style="display: none;" id="carrito-holder"> -->
                <button id="guardarPedido" type="button" class="btn-secundario" value="<%= user.sub %>">Guardar pedido</button>
                <form method="post" action="/check-out">
                  <input type="text" name="carrito_holder" style="display: none;" id="carrito-holder">
                  <button type="submit" class="btn-primario">Comprar carrito</button>
                </form>
              <% }else{ %>
                <!-- <button id="confirmar-compra" type="button" class="btn-primario">Comprar carrito</button> -->
                <form method="post" action="/check-out">
                  <input type="text" name="carrito_holder" style="display: none;" id="carrito-holder">
                  <button type="submit" class="btn-primario">Comprar carrito</button>
                </form>
              <% } %>
              
          </div>
          <% if (login.pedidos) { %>            
            <!-- <button id="confirmar-compra" type="button" class="btn-primario">Comprar carrito</button> -->
          <% } %>
          
      </div>
    </div>
  </div>