<div id="custom-modal" class="modal-salir-guardar">
    <div class="modal-salir fade-in">
        <div class="modal-salir-header">
            <h2 id="mensaje-1">ingresar mensaje</h2>
            <button type="button" class="cruz"></button>
        </div>

        <p id="mensaje-2" class="modal-salir-texto">
            
        </p>

        <div class="modal-salir-footer">
            <button id="cancelar-mensaje" type="button" class="btn-secundario">No</button>
            <button id="confirmar-mensaje" type="button" class="btn-primario">Sí, eliminar</button>
        </div>
    </div>
</div>